<table border="1">
  <tr>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Время записи</th>
    <th>Парикмахер</th>
    <th>Цвет</th>
  </tr>

<% @results.each do |row| %>

  <tr>
    <td><%= row['username'] %></td>
    <td><%= row['phone'] %></td>
    <td><%= row['datestamp'] %></td>
    <td><%= row['barber'] %></td>
    <td><%= row['color'] %></td>
  </tr>

 <% end %>
</table>